<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<title th:text="#{main.title}">INSPINIA | Login</title>
<link data-th-href="@{css/dist/asterisk-control.min.css}"
	href="css/dist/asterisk-control.min.css" rel="stylesheet" />
<link data-th-href="@{font-awesome/css/font-awesome.css}"
	href="font-awesome/css/font-awesome.css" rel="stylesheet" />
<link data-th-href="@{css/dist/qunit-2.6.2.css}"
	href="css/dist/qunit-2.6.2.css" rel="stylesheet" />
<link data-th-href="@{img/favicon.ico}" href="img/favicon.ico"
	rel="shortcut icon" type="image/x-icon" />
</head>
<body>

	<div th:replace="fragments/wait-dialog :: wait-dialog">&nbsp;</div>

	<div id="wrapper">
		<div th:replace="fragments/nav :: nav">&nbsp;</div>

		<div class="gray-bg" id="page-wrapper">
			<div th:replace="fragments/border-bottom :: border-bottom">&nbsp;</div>

			<div th:replace="fragments/white-bg :: white-bg">&nbsp;</div>
			<!--  Page Content start right here and non where else! -->

			<div class="row">
				<div class="col-lg-12">
					<div class="wrapper wrapper-content">
						<div class="row">
							<div class="col-lg-12">
								<div class="ibox float-e-margins">
									<div class="ibox-title">

										<div id="agents-btn-toolbar" class="btn-toolbar"
											role="toolbar" aria-label="Toolbar with button groups">
											<div class="col-lg-12">
												<div class="col-sm-4">
													<div class="input-group m-b">
														<div class="input-group-btn">
															<button data-toggle="dropdown"
																class="btn btn-primary dropdown-toggle" type="button"
																aria-expanded="false" th:text="#{button.start}">
																Asterisk<span class="caret"></span>
															</button>
															<ul id="agents-ul" class="dropdown-menu">

															</ul>
														</div>
														<input id="agent-pbx-name" class="form-control"
															type="text" disabled /> <input id="agentpbx-id"
															class="form-control" type="hidden" />
													</div>
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>


							<div class="col-lg-12">
								<div id="tabs-container" class="tabs-container hidden">
									<ul class="nav nav-tabs">
										<li class="active"><a data-toggle="tab" href="#tab-1"
											th:text="#{label.lists}"> This is tab</a></li>
										<li class=""><a data-toggle="tab" href="#tab-2"
											th:text="#{label.configuration}">This is second tab</a></li>
									</ul>
									<div class="tab-content">
										<div id="tab-1" class="tab-pane active">
											<div class="panel-body">
												<div class="col-lg-4">
													<div id="agent-table-container"
														class="ibox float-e-margins hidden">
														<div class="ibox-title">
															<h5 th:text="#{label.agents}">Agents</h5>

															<div class="ibox-tools">

																<div class="input-group-btn">

																	<button class="btn btn-w-m btn-primary"
																		id="btn-agent-add-cancel" type="button"
																		th:text="#{button.addAgent}" disabled>New
																		User</button>
																</div>

															</div>
														</div>
														<div class="ibox-content hidden" id="agent-edit-container">
															<form role="form" id="form-add-agent" class="">
																<div class="form-group">
																	<label th:text="#{label.agentName}">Name</label> <input
																		id="agent-name" class="form-control" type="text" />
																</div>
																<div class="form-group">
																	<button id="btn-agent-save"
																		class="btn btn-w-m btn-primary" type="button"
																		th:text="#{button.save}">Save</button>


																</div>
																<input id="agent-id" type="hidden" />
															</form>
														</div>
														<div class="ibox-content">
															<div id="agent-table-container">
																<table class="table" id="agents-table">
																</table>
															</div>
														</div>
													</div>

												</div>
												<div class="col-lg-4">
													<div id="peer-table-container"
														class="ibox float-e-margins hidden">
														<div class="ibox-title">
															<h5 th:text="#{label.peers}">Peers</h5>
															<div class="ibox-tools">
																<div class="input-group-btn">
																	<button class="btn btn-w-m btn-primary"
																		id="btn-peer-add-cancel" type="button"
																		th:text="#{button.addPeer}" disabled>New User</button>
																</div>

															</div>
														</div>
														<div class="ibox-content hidden" id="peer-edit-container">
															<form role="form" id="form-add-peer" class="">
																<div class="form-group">
																	<label th:text="#{label.peerName}">Name</label> <input
																		id="peer-name" class="form-control" type="text" />
																</div>
																<div class="form-group">
																	<button id="btn-peer-save"
																		class="btn btn-w-m btn-primary" type="button"
																		th:text="#{button.save}">Save</button>
																</div>
																<input id="peer-id" type="hidden" />
															</form>
														</div>
														<div class="ibox-content">
															<div id="peer-table-container">
																<table class="table" id="peers-table">
																</table>
															</div>
														</div>
													</div>

												</div>
												<div class="col-lg-4">
													<div id="queue-table-container"
														class="ibox float-e-margins hidden">
														<div class="ibox-title">
															<h5 th:text="#{label.queues}">Peers</h5>
															<div class="ibox-tools">
																<div class="input-group-btn">
																	<button class="btn btn-w-m btn-primary"
																		id="btn-queue-add-cancel" type="button"
																		th:text="#{button.addQueue}" disabled>New
																		User</button>
																</div>

															</div>
														</div>
														<div class="ibox-content hidden" id="queue-edit-container">
															<form role="form" id="form-add-queue" class="">
																<div class="form-group">
																	<label th:text="#{label.name}">Name</label> <input
																		id="queue-name" class="form-control" type="text" />
																</div>
																<div class="form-group">
																	<button id="btn-queue-save"
																		class="btn btn-w-m btn-primary" type="button"
																		th:text="#{button.save}">Save</button>
																</div>
																<input id="queue-id" type="hidden" />
															</form>
														</div>
														<div class="ibox-content">
															<div id="queue-table-container">
																<table class="table" id="queues-table">
																</table>
															</div>
														</div>
													</div>

												</div>
												<div class="col-lg-4">
												  <div id="template-table-container"
														class="ibox float-e-margins">
														<div class="ibox-title">
															<h5 th:text="#{label.template}">Templates</h5>
															<div class="ibox-tools">
																<div class="input-group-btn">
																	<button class="btn btn-w-m btn-primary"
																		id="btn-template-add-cancel" type="button"
																		th:text="#{button.addTemplate}" >New
																		User</button>
																</div>

															</div>
														</div>
														<div class="ibox-content hidden" id="template-edit-container">
															<form role="form" id="form-add-template" class="">
																<div class="form-group">
																	<label th:text="#{label.name}">Name</label> <input
																		id="template-name" class="form-control" type="text" />
																</div>
																<div class="form-group">
																	<button id="btn-template-save"
																		class="btn btn-w-m btn-primary" type="button"
																		th:text="#{button.save}">Save</button>
																</div>
																<input id="template-id" type="hidden" />
															</form>
														</div>
														<div class="ibox-content">
															<div id="template-table-container">
																<table class="table" id="template-table">
																</table>
															</div>
														</div>
													</div>
												
												
												</div>

											</div>
										</div>
										<div id="tab-2" class="tab-pane">
											<div class="panel-body">
												<div class="col-lg-6">
													<div id="centconf-table-container"
														class="ibox float-e-margins hidden">
														<div class="ibox-title">
															<h5 th:text="#{label.centconfs}">CentConf</h5>

															<div class="ibox-tools">
																<div class="input-group-btn">
																	<button class="btn btn-w-m btn-primary"
																		id="btn-centconf-add-cancel" type="button"
																		th:text="#{button.addCentconf}" disabled>New
																		User</button>
																</div>
															</div>
														</div>
														<div class="ibox-content hidden"
															id="centconf-edit-container">
															<form role="form" id="form-add-centconf">
																<div class="row">
																	<div class="col-lg-4">
																		<div class="form-group">
																			<label th:text="#{label.agents}">Name</label> <select
																				id="centconf-agentid" class="form-control">
																				<option val="1">Masha Suchkina</option>
																				<option val="2">Sucka Mashina</option>
																			</select>

																		</div>
																	</div>
																	<div class="col-lg-4">
																		<div class="form-group">
																			<label th:text="#{label.queues}">Name</label> <select
																				id="centconf-queueid" class="form-control">
																				<option val="1">Callcenter1</option>
																				<option val="2">Callcenter2</option>
																			</select>

																		</div>
																	</div>
																	<div class="col-lg-2">
																		<div class="form-group">
																			<label th:text="#{label.extension}">Name</label> <input
																				id="centconf-extention" class="form-control"
																				type="text" />

																		</div>
																	</div>
																	<div class="col-lg-2">
																		<div class="form-group">
																			<label th:text="#{label.penalty}">Name</label> <input
																				id="centconf-penalty" class="form-control"
																				type="text" value="0" />

																		</div>
																	</div>
																</div>
																<div class="row">
																	<div class="col-lg-12">
																		<div class="form-group">
																			<button id="btn-centconf-save"
																				class="btn btn-w-m btn-primary" type="button"
																				th:text="#{button.save}">Save</button>


																		</div>
																	</div>
																</div>
																<input id="centconf-id" type="hidden" />
															</form>
														</div>
														<div class="ibox-content">
															<div id="centconf-table-container">
																<table class="table" id="centconfs-table">
																</table>
															</div>
														</div>
													</div>

												</div>


											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--  Page Content ends right here and non where else! -->

			<div th:replace="fragments/footer :: footer">&nbsp;</div>
		</div>
	</div>
	<p>
		<input id="user_role" th:value="${user_role}" type="hidden" />
		<!-- Mainly scripts -->

		<script src="js/dist/agents.js" type="text/javascript"
			data-th-src="@{js/dist/callcenter.js}"></script>

		<script src="js/src/plugins/toastr/toastr.min.js"
			type="text/javascript"
			data-th-src="@{js/src/plugins/toastr/toastr.min.js}"></script>
	</p>


	<div th:replace="fragments/vars :: vars">&nbsp;</div>
</body>
</html>
