<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<title th:text="#{main.title}">INSPINIA | Login</title>
<link data-th-href="@{css/dist/asterisk-control.min.css}"
	href="css/dist/asterisk-control.min.css" rel="stylesheet" />

<link data-th-href="@{css/src/style.css}" href="css/src/style.css"
	rel="stylesheet" />

<link data-th-href="@{font-awesome/css/font-awesome.css}"
	href="font-awesome/css/font-awesome.css" rel="stylesheet" />
<link data-th-href="@{css/dist/qunit-2.6.2.css}"
	href="css/dist/qunit-2.6.2.css" rel="stylesheet" />
<link data-th-href="@{img/favicon.ico}" href="img/favicon.ico"
	rel="shortcut icon" type="image/x-icon" />
</head>
<body>

	<div th:replace="fragments/wait-dialog :: wait-dialog">&nbsp;</div>

	<div id="wrapper">
		<div th:replace="fragments/nav :: nav">&nbsp;</div>

		<div class="gray-bg" id="page-wrapper">
			<div th:replace="fragments/border-bottom :: border-bottom">&nbsp;</div>

			<div th:replace="fragments/white-bg :: white-bg">&nbsp;</div>
			<!--  Page Content start right here and non where else! -->

			<div class="row">
				<div class="col-lg-12">
					<div class="wrapper wrapper-content">
						<div class="row">


							<div class="col-lg-11">

								<div class="ibox float-e-margins">
									<div class="ibox-title">
										<div class="btn-toolbar" role="toolbar"
											aria-label="Toolbar with button groups">

											<div class="col-sm-6">
												<div class="input-group m-b">
													<div class="input-group-btn">
														<button data-toggle="dropdown"
															class="btn btn-primary dropdown-toggle" type="button"
															aria-expanded="false" th:text="#{button.start}">Asterisk<span class="caret"></span>
														</button>
														<ul id="config-ul" class="dropdown-menu">
														
														</ul>
													</div>
													<input id="unit-pbx-name" class="form-control" type="text" disabled />
													<input id="unit-pbx-id" class="form-control" type="hidden" />
												</div>

											</div>

											<div class="btn-group mr-2 pull-right" role="group"
												aria-label="First group">

												<button class="btn btn-w-m btn-primary"
													id="btn-unit-add-cancel" type="button"
													th:text="#{button.addUnit}">New User</button>
											</div>

											<div class="btn-group mr-2 pull-right" role="group"
												aria-label="First group">
												<button class="btn btn-w-m btn-primary "
													id="btn-unit-sip-config" type="button"
													th:text="#{button.sipConfig}">New User</button>
											</div>
										</div>
									
									</div>
									<div class="ibox-content hidden" id="unit-edit-container">

										<p></p>
									</div>
								</div>


								<div class="ibox float-e-margins hidden"  id="unit-all-container">
									<div class="ibox-title">
										<h5 th:text="#{label.units}">PBX</h5>

										<div class="ibox-tools">
											
										</div>
									</div>

									<div class="ibox-content">

										<div id="phones-table-container">
											<table class="table" id="">
											</table>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--  Page Content ends right here and non where else! -->

			<div th:replace="fragments/footer :: footer">&nbsp;</div>
		</div>
	</div>

	<div id="unit-modal-form" class="modal inmodal" tabindex="-1"
		role="dialog" aria-hidden="true" style="display: none;">

		<div class="modal-dialog">
			<div class="modal-content animated fadeIn">
				<div class="modal-header">

					<i class="fa fa-building-o modal-icon"></i>
					<h4 class="modal-title" th:text="#{label.newCity}">Asterisk</h4>
					<small th:text="#{label.take-city}">Lorem Ipsum is simply
						dummy text of the printing and typesetting industry.</small>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form" id="form-add-unit">
						<div class="form-group">
							<label class="col-lg-2 control-label"
								th:text="#{label.unitName}+':'">Name</label>

							<div class="col-lg-10">
								<input id="unit-name" class="form-control" type="text" />
							</div>
						</div>
						<input id="unit-p" type="hidden" /> <input id="unit-q"
							type="hidden" />
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-white" data-dismiss="modal"
						id="btn-unit-close" th:text="#{button.cancel}">Close</button>
					<button type="button" class="btn btn-primary" id="btn-unit-save"
						th:text="#{button.save}">Save changes</button>
				</div>
			</div>
		</div>
	</div>


	<div id="center-modal-form" class="modal inmodal" tabindex="-1"
		role="dialog" aria-hidden="true" style="display: none;">

		<div class="modal-dialog">
			<div class="modal-content animated fadeIn">
				<div class="modal-header">

					<i class="fa fa-building-o modal-icon"></i>
					<h4 id="center-modal-title" class="modal-title">Asterisk</h4>
					<small th:text="#{label.center-title}">Lorem Ipsum is
						simply dummy text of the printing and typesetting industry.</small>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form" id="form-add-center">
						<div class="form-group">
							<label class="col-lg-2 control-label"
								th:text="#{label.centerName}+':'">Name</label>

							<div class="col-lg-10">
								<input id="center-name" class="form-control" type="text" />
							</div>
						</div>
						<input id="center-p" type="hidden" /> <input id="center-q"
							type="hidden" />
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-white" data-dismiss="modal"
						id="btn-center-close" th:text="#{button.cancel}">Close</button>
					<button type="button" class="btn btn-primary" id="btn-center-save"
						th:text="#{button.save}">Save changes</button>
				</div>
			</div>
		</div>
	</div>



	<div id="equipment-modal-form" class="modal inmodal" tabindex="-1"
		role="dialog" aria-hidden="true" style="display: none;">

		<div class="modal-dialog">
			<div class="modal-content animated fadeIn">
				<div class="modal-header">
					<i class="fa fa-phone modal-icon"></i>
					<h4 id="equipment-modal-title" class="modal-title"
						th:text="#{label.equipment}">Asterisk</h4>
				</div>
				<div class="modal-body">
					<form role="form" id="form-add-equipment"
						class="form-horizontal m-t-md">

						<div class="form-group">
							<label th:text="#{label.phone}+':'"
								class="col-sm-2 control-label">Name</label>
							<div class="col-sm-4">
								<input id="equipment-phone" class="form-control" type="text" />
							</div>
							<label th:text="#{label.password}+':'"
								class="col-sm-2 control-label">Password</label>
							<div class="col-sm-4">
								<input id="equipment-password" class="form-control" type="text" />
							</div>
						</div>
						<div class="form-group">
							<label th:text="#{label.ipaddress}+':'"
								class="col-sm-2 control-label">ip</label>
							<div class="col-sm-4">
								<input id="equipment-ipaddress" class="form-control" type="text" />
							</div>
							<label th:text="#{label.mask}+':'" class="col-sm-2 control-label">mask</label>
							<div class="col-sm-4">
								<input id="equipment-netmask" class="form-control" type="text" />
							</div>
						</div>

						<div class="form-group">
							<label th:text="#{label.gateway}+':'"
								class="col-sm-2 control-label">gw</label>
							<div class="col-sm-4">
								<input id="equipment-gateway" class="form-control" type="text" />
							</div>
							<label th:text="#{label.external}+':'" class="col-sm-2 control-label">mask</label>
							<div class="col-sm-4">
								<input id="equipment-external" class="form-control" type="text" data-toggle="tooltip"
																	th:title="#{hint.external}"/>
							</div>
						</div>
						
						<div class="form-group">
							<label th:text="#{label.recordIn}+':'"
								class="col-sm-2 control-label">gw</label>
							<div class="col-sm-4">
								<input id="equipment-recordIn" class="form-control" type="checkbox" />
							</div>
							<label th:text="#{label.recordOut}+':'" class="col-sm-2 control-label">mask</label>
							<div class="col-sm-4">
								<input id="equipment-recordOut" class="form-control" type="checkbox" />
							</div>
						</div>
						
						<div class="form-group">
							<label th:text="#{label.person}" class="col-sm-2 control-label">gw</label>
							<div class="col-sm-10">
								<input id="equipment-person" class="form-control" type="text" />
							</div>
						</div>
						<div class="form-group">
							<label th:text="#{label.office}+':'"
								class="col-sm-4 control-label">Name</label>
							<div class="col-sm-8">
								<input id="equipment-office" class="form-control" type="text" />
							</div>
						</div>
						<div class="form-group">
							<input id="equipment-p" type="hidden" /> <input
								id="equipment-id" type="hidden" />
						</div>

					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-white" data-dismiss="modal"
						id="btn-equipment-close" th:text="#{button.cancel}">Close</button>
					<button type="button" class="btn btn-primary"
						id="btn-equipment-save" th:text="#{button.save}">Save
						changes</button>
				</div>
			</div>
		</div>
	</div>

	<div id="equipment-warn-modal-form" class="modal inmodal" tabindex="-1"
		role="dialog" aria-hidden="true" style="display: none;">
		<div class="modal-dialog">
			<div class="modal-content animated fadeIn">
				<div class="modal-header">
					<i class="fa fa-warning modal-icon"></i>
					<h4 id="equipment-modal-title" class="modal-title"
						th:text="#{label.dropEquipment}">Asterisk</h4>
				</div>
				<div class="modal-body">
					<form role="form" id="form-add-equipment"
						class="form-horizontal m-t-md">
						<div class="form-group">
							<label th:text="#{label.phone}+':'"
								class="col-sm-2 control-label">Name</label>
							<div class="col-sm-4">
								<input id="equipment-phone" class="form-control" type="text"
									disabled />
							</div>
							<label th:text="#{label.ipaddress}+':'"
								class="col-sm-2 control-label">ip</label>
							<div class="col-sm-4">
								<input id="equipment-ipaddress" class="form-control" type="text"
									disabled />
							</div>
						</div>
						<div class="form-group">
							<input id="dropEquipment-id" type="hidden" />
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-white" data-dismiss="modal"
						id="btn-equipment-warn-close" th:text="#{button.cancel}">Close</button>
					<button type="button" class="btn btn-primary"
						id="btn-equipment-drop" th:text="#{button.drop}">Save
						changes</button>
				</div>
			</div>
		</div>

	</div>

	<div id="config-file-modal" class="modal inmodal" tabindex="-1"
		role="dialog" aria-hidden="true" style="display: none;">
		<div class="modal-dialog">
			<div class="modal-content animated fadeIn">
				<div class="modal-header">
					<i class="fa fa-gears modal-icon"></i>
					<h4 id="equipment-modal-title" class="modal-title"
						th:text="#{label.sendConfig}">Asterisk</h4>
				</div>
				<div class="modal-body">
					
						<div class="form-group">
							 <textarea class="form-control" rows="20" id="config-file-text" style="resize:none"></textarea>
						</div>
						<div class="form-group">
							<input id="pbx-id" type="hidden" />
						</div>
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-white" data-dismiss="modal"
						id="btn-file-warn-close" th:text="#{button.cancel}">Close</button>
					<button type="button" class="btn btn-primary"
						id="btn-unit-send-config" th:text="#{button.sendConfig}">Save
						changes</button>
				<button type="button" class="btn btn-primary"
						id="btn-unit-sip-reload" th:text="#{button.sipReload}">Save
						changes</button>
				<button type="button" class="btn btn-primary"
						id="btn-unit-send-test-ws">Show peers</button>						
			
				</div>
			</div>
		</div>

	</div>



	<p>
		<input id="user_role" th:value="${user_role}" type="hidden" />
		<!-- Mainly scripts -->

<!-- 
		<script src="js/src/plugins/sockjs/stomp.js" type="text/javascript" data-th-src="@{js/src/plugins/sockjs/stomp.js}"></script>
 			
		<script src="js/src/plugins/sockjs/sockjs.js" type="text/javascript" data-th-src="@{js/src/plugins/sockjs/sockjs.js}"></script>	
-->

			
		<script src="js/dist/units.js" type="text/javascript" data-th-src="@{js/dist/units.js}"></script>
		<script src="js/src/plugins/toastr/toastr.min.js" type="text/javascript" data-th-src="@{js/src/plugins/toastr/toastr.min.js}"></script>
	</p>


	<div th:replace="fragments/vars :: vars">&nbsp;</div>
</body>
</html>
