<var-page th:fragment="vars">
   
	<script th:inline="javascript">
	//<![CDATA[
	
	    var  $error = {},
	   		 $success = {},
	   		 $profile = {},
	   		 $label = {},
	   		 $button = {};
	    	
	
		$error.findAll		= [[#{error.findAll}]];

		$label.id				= [[#{label.id}]];
		$label.name     		= [[#{label.name}]];
		$label.role				= [[#{label.role}]];
		$label.registered		= [[#{label.registered}]];
		$label.edit				= [[#{label.edit}]];
		
		$label.astname			= [[#{label.astname}]];
		$label.astuser			= [[#{label.astuser}]];
		$label.astpasswd		= [[#{label.astpasswd}]];
		$label.dbhost			= [[#{label.dbhost}]];
		$label.dbname			= [[#{label.dbname}]];
		$label.dbuser			= [[#{label.dbuser}]];
		$label.dbpassword		= [[#{label.dbpassword}]];
		$label.asterisks		= [[#{label.asterisks}]];
		$label.phone			= [[#{label.phone}]];
		$label.ipaddress		= [[#{label.ipaddress}]];
		$label.gateway			= [[#{label.gateway}]];
		$label.mask				= [[#{label.mask}]];
		$label.addPhone			= [[#{label.addPhone}]];
		$label.sshlogin			= [[#{label.sshlogin}]];
		$label.dbhost			= [[#{label.dbhost}]];
		$label.asthost			= [[#{label.asthost}]];
		$label.astuser			= [[#{label.astuser}]];
		$label.date				= [[#{label.date}]];
		$label.enter			= [[#{label.enter}]];
		$label.exit				= [[#{label.exit}]];
		$label.calls			= [[#{label.calls}]];
		$label.show				= [[#{label.show}]];
		
		$label.calldate			= [[#{label.calldate}]];
		$label.dst				= [[#{label.dst}]];
		$label.src				= [[#{label.src}]];
		$label.channel			= [[#{label.channel}]];
		$label.dstchannel		= [[#{label.dstchannel}]];
		$label.sound			= [[#{label.sound}]];
		$label.play				= [[#{label.play}]];
		$label.download			= [[#{label.download}]];
		$label.extension		= [[#{label.extension}]];
		$label.penalty			= [[#{label.penalty}]];
		$label.agents			= [[#{label.agents}]];
		$label.queues			= [[#{label.queues}]];
		$label.operator			= [[#{label.operator}]];
		$label.queue			= [[#{label.queue}]];
		$label.duration			= [[#{label.duration}]];
		$label.record			= [[#{label.record}]];
		
		$button.save			= [[#{button.save}]];
		$button.cancel			= [[#{button.cancel}]];
		$button.addUser			= [[#{button.addUser}]];
		$button.drop			= [[#{button.drop}]];
		$button.edit			= [[#{button.edit}]];
		$button.addConfig		= [[#{button.addConfig}]];
		$button.doit			= [[#{button.doit}]];
		$button.addCenter		= [[#{button.addCenter}]];
		$button.addUnit			= [[#{button.addUnit}]];
		$button.addAgent		= [[#{button.addAgent}]];
		$button.addPeer			= [[#{button.addPeer}]];
		$button.addQueue		= [[#{button.addQueue}]];
		$button.addCentconf		= [[#{button.addCentconf}]];
		$button.show			= [[#{button.show}]];
		$button.listen			= [[#{button.listen}]];

		
		$error.findUser			= [[#{error.findUser}]];
		$error.network			= [[#{error.network}]];
		$error.saveUser			= [[#{error.saveUser}]];
		$error.dropUser			= [[#{error.dropUser}]];
		$error.saveConfig		= [[#{error.saveConfig}]];
		$error.dropConfig		= [[#{error.dropConfig}]];
		$error.saveUnit			= [[#{error.saveUnit}]];
		$error.dropUnit			= [[#{error.dropUnit}]];
		$error.findUnit			= [[#{error.findUnit}]];
		$error.saveEquipment	= [[#{error.saveEquipment}]];
		$error.dropEquipment	= [[#{error.dropEquipment}]];
		$error.dropAgent		= [[#{error.dropAgent}]];
		$error.saveAgent		= [[#{error.saveAgent}]];
		$error.findAgent		= [[#{error.findAgent}]];
		$error.saveQueue		= [[#{error.saveQueue}]];
		$error.dropQueue		= [[#{error.dropQueue}]];	
		$error.findQueue		= [[#{error.findQueue}]];
		$error.saveCentconf		= [[#{error.saveCentconf}]];
		$error.dropCentconf		= [[#{error.dropCentconf}]];
		$error.showdata			= [[#{error.showdata}]];
		
		$success.saveAgent		= [[#{success.saveAgent}]];
		$success.dropAgent		= [[#{success.dropAgent}]];
		$success.saveUser		= [[#{success.saveUser}]];
		$success.dropUser		= [[#{success.dropUser}]];
		$success.saveConfig		= [[#{success.saveConfig}]];
		$success.dropConfig		= [[#{success.dropConfig}]];
		$success.saveUnit		= [[#{success.saveUnit}]];
		$success.dropUint		= [[#{success.dropUint}]];
		$success.saveEquipment	= [[#{success.saveEquipment}]];
		$success.dropEquipment  = [[#{success.dropEquipment }]];
		$success.saveQueue		= [[#{success.saveQueue}]];
		$success.dropQueue		= [[#{success.dropQueue}]];
		$success.saveCentconf	= [[#{success.saveCentconf}]];
		$success.dropCentconf	= [[#{success.dropCentconf}]];
		
		
		
		
		
		
		//]]>	
	</script>
   
</var-page>