<var-page th:fragment="vars">
   
	<script th:inline="javascript">
	//<![CDATA[
	
	    var  $error = {},
	   		 $success = {},
	   		 $profile = {},
	   		 $label = {},
	   		 $button = {};
	    	
	
		$error.findAll		= [[#{error.findAll}]];

		$label.id				= [[#{label.id}]];
		$label.name     		= [[#{label.name}]];
		$label.role				= [[#{label.role}]];
		$label.registered		= [[#{label.registered}]];
		$label.edit				= [[#{label.edit}]];
	
		$button.save			= [[#{button.save}]];
		$button.cancel			= [[#{button.cancel}]];
		$button.addUser			= [[#{button.addUser}]];
		$button.drop			= [[#{button.drop}]];
		$button.edit			= [[#{button.edit}]];
		
		$error.findUser			= [[#{error.findUser}]];
		$error.network			= [[#{error.network}]];
		$error.saveUser			= [[#{error.saveUser}]];
		$error.dropUser			= [[#{error.dropUser}]];
		
		$success.saveUser		= [[#{success.saveUser}]];
		$success.dropUser		= [[#{success.dropUser}]];
		
		
		//]]>	
	</script>
   
</var-page>