<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title th:text="#{label.main-title}">INSPINIA | Login</title>
		<link href="css/dist/asterisk-control.min.css" rel="stylesheet"
			data-th-href="@{css/dist/asterisk-control.min.css}" />
		<link href="font-awesome/css/font-awesome.css" rel="stylesheet"
			data-th-href="@{font-awesome/css/font-awesome.css}" />
	

	</head>
	<body class="gray-bg">
		<div
			class="middle-box text-center loginscreen animated fadeInDown">
			<div>
				<div>
					<h1 class="logo-name"  th:text="#{label.logo-name}">Asterisk</h1>
				</div>
				<h3 th:text="#{label.wellcome}">IN+</h3>
				<p th:text="#{label.login.info}">
					
				</p>
				<p th:text="#{label.login.enter}">Login in. To see it in action.</p>
				<div th:if="${param.error}">Invalid username and password.</div>

				<div th:if="${param.logout}">You have been logged out.</div>

				<form class="m-t" role="form" method="post"
					th:action="@{/login}">
					<div class="form-group">
						<input type="text" name="username" class="form-control"
							placeholder="Username" required="" />
					</div>
					<div class="form-group">
						<input type="password" name="password" class="form-control"
							placeholder="Password" required="">
					</div>
					<button type="submit"
						class="btn btn-primary block full-width m-b" th:text="#{label.login}">Login</button>

				</form>
				<p class="m-t">
					<small>MIBS-Medical Institute. 2018</small>
				</p>
			</div>
		</div>

		<script src="js/dist/boot.min.js" type="text/javascript"  data-th-src="@{js/dist/boot.min.js}" />
	
	</body>

</html>
